# 조건표현식

- true_value if <조건식> else false_value

In [1]:
a = 0
if false:
    a = 100
else:
    a = -100
print(a)

NameError: name 'false' is not defined

In [2]:
a = 0
if False:
    a = 100
else:
    a = -100
print(a)

-100

In [3]:
a = 100 if False else -100
print(a)

-100

In [ ]:
num = int(input())

if num >=0:
    result = num
else:
    result = 0
print(result)

# 반복문

## while문

while <조건식>:
    실행할 코드

In [13]:
a = 0

while a < 5:
    print(a)
    # a += 1
    a = a + 1

0
1
2
3
4

# for 문
- 정해진 범위 내의 반복

for variable(item) in sequence:
    code

for var_name

In [24]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [25]:
word = 'apple'
for char in word:
    print(char)

a
p
p
l
e

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [30]:
numbers = range(1, 51)
for number in numbers:
    if number % 5 == 0:
        print(number)

5
10
15
20
25
30
35
40
45
50

In [31]:
locations = ['서울', '대전', '부산']
for location in enumerate(locations):
    print(location)

(0, '서울')
(1, '대전')
(2, '부산')

In [46]:
locations = ['서울', '대전', '부산']
for (index, location) in enumerate(locations):
    print(index)
    print(location)

0
서울
1
대전
2
부산

# dictionary 반복
1. for key in dict:
2. for key in dict.keys():
3. for value in dictvalues():

In [3]:
info = {
    'name': 'nana',
    'location': 'seoul',
    'phone': '010 2240 7996',
    'age' : '20'
}

for k in info.keys():
    print(k)

In [5]:
for v in info.values():
    print(v)

nana
seoul
010 2240 7996
20

In [37]:
for k, v in info.items():
    print(k, v)

name nana
location seoul
phone 010 2240 7996
age 20

In [39]:
blood_type = {
    'A' : 15,
    'B' : 4,
    'C' : 5, 
    'AB' : 5,
}

In [41]:
#혈액형은 ~가 있습니다.
print('혈액형 종류는 다음과 같습니다.')

for blood in blood_type:
    print(blood)

혈액형 종류는 다음과 같습니다.
A
B
C
AB

In [45]:
# 총 학생은 몇명 입니다.
result = 0
for number in blood_type.values():
    result = result + number
    print(result)

15
19
24
29

In [43]:
for k, v in blood_type.items():
    print(f'{k}형은 {v}명입니다.')

A형은 15명입니다.
B형은 4명입니다.
C형은 5명입니다.
AB형은 5명입니다.

### break 

 완전 종료

In [48]:
for i in range(100):
    print('여기는 for문', i)
    if i > 10:
        print('여기는 브레이크')
        break

여기는 for문 0
여기는 for문 1
여기는 for문 2
여기는 for문 3
여기는 for문 4
여기는 for문 5
여기는 for문 6
여기는 for문 7
여기는 for문 8
여기는 for문 9
여기는 for문 10
여기는 for문 11
여기는 브레이크

In [ ]:
while True:
    rice = input()
    if rice == '쌀':
        print('잡았다!!!!!!!')
        break

In [ ]:
쌀

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행(코드 스킵) 특정친구를 넘기고 싶을때

In [ ]:
for i in range(20):
    if i % 2 ++ 1:
        continue
    print(i)

In [ ]:
ages =

### else 
else 문은 끝까지 반복된 경우 실행됩니다. break를 만나지 않은 경우 실행

In [ ]:
for i in range(10):
    if i > 5:
        break
    print(i)
else: 
    print('모두완료')