# 정의되지 않은 키워드 인자 처리하기

In [1]:
def func_name(**kwargs):
    return value

In [2]:
info = {

_IncompleteInputError: incomplete input (410277505.py, line 1)

In [4]:
info = dict(name='kim', age=20)
print(info)

{'name': 'kim', 'age': 20}

In [11]:
def my_dict(**=kwargs):
    print(kwargs)

my_dict(argums= '가나다', 'age'=123, test='asdf'

SyntaxError: invalid syntax (885731752.py, line 1)

In [12]:
def my_func(perams1, params2='temp', *numbers, **kwargs):
    return 0

In [8]:
# my func() => params1 부족
my_func(123)
# => params1 = 123, params2 = 'temp' 
my_func(123, 234)
my_func(123, 234, 345, 567, 789, 890)

0

# lambda 표현식
- 임시함수, 일회용 함수
'''python

In [18]:
def my_sum(num1, num2):
    return num1 + num2

In [19]:
my_sum(100, 2)

102

In [20]:
lambda num1, num2: num1 + num2

In [21]:
lambda num1, num2: num1 + num2()

In [22]:
(lambda num1, num2: num1 + num2)()

TypeError: <lambda>() missing 2 required positional arguments: 'num1' and 'num2'

In [23]:
(lambda num1, num2: num1 + num2)(1, 2)

3

### 타입힌트

In [28]:
def something(a: int, b: int) -> int:
    return a + b

    something(1, 2)

In [29]:
something('asdf', 'qwer')

'asdfqwer'

### 이름공간(namespace), 스코프(scope)
python에서 사용하는 이름들은 이름공간에 저장되어있습니다. LEGB룰에 따라 접근


1. Local : 정의된 함수 내부
2. Enclosed : 상위 함수
3. Global : 함수 밖
4. Built-in : python이 기본적으로 가지고 있는 함수

In [34]:
result = str(123)
print(result)

123

In [37]:
str = 'hello'

In [40]:
result = str(123)
print(result)

123

In [43]:
del str

NameError: name 'str' is not defined

In [45]:
a = 1

def local_scope(b):
    return a

a = '가나다라'

local_scope('asdf')

'가나다라'

In [2]:
my_list = [1, 2, 3, 4, 5]
for i in my_list: 
    print(i)
print(i)

1
2
3
4
5
5

In [50]:
a = 0

def global_scope():
    a = a + 1
    return a

global_scope()

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [51]:
a = 0

def global_scope():
    global a
    a = a + 1
    return a

global_scope()

1

### 재귀
함수 내부에서 자기 자신을 호출하는 함수

'''
n! = 1 * 2 * 3 * ... * n

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3
n! = (n-1)! * n
'''

In [52]:
def fact(n):
    if n == 1: 
        return 1
    else:
        return fact(n-1) * n

In [53]:
fact(10)

3628800

In [54]:
fact(10)

3628800

In [57]:
# 피보나치 수열
def fib(n):
    if n == 0 or n ==1:
        return 1
    else:
        return fib(n-2) + fib(n-1)

In [58]:
fib(20)

10946