# 함수(funtion)

In [44]:
# 사각형의 가로와 세로의 길이를 이용해서 면적과 둘레를 구하는 코드.
height = 50
width = 20

area = height * width
perimeter = (height + width) * 2

print(f'사각형의 면적은 {area}이고 둘레는 {perimeter}입니다.')

사각형의 면적은 1000이고 둘레는 140입니다.

In [46]:
# 사각형의 가로와 세로의 길이를 이용해서 면적과 둘레를 구하는 코드.
height2 = 50
width2 = 50

area2 = height2 * width2
perimeter2 = (height2 + width2) * 2

print(f'사각형의 면적은 {area2}이고 둘레는 {perimeter2}입니다.')

사각형의 면적은 2500이고 둘레는 200입니다.

## 함수의 선언과 호출

- 선언
```python
def func_name(parameter1, parameter2, ...):
    code1
    code2
    ...
    return value
```

- 호출
      - func_name(parameter1, parameter2, ...)

In [48]:
# 선언
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2

    print(f'사각형의 면적은 {area}입니다. 둘레는 {perimeter}입니다.')

In [50]:
rectangle(50, 30)
rectangle(20, 100)

사각형의 면적은 1500입니다. 둘레는 160입니다.
사각형의 면적은 2000입니다. 둘레는 240입니다.

In [52]:
max(2, 2)

2

In [54]:
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('같습니다')

In [57]:
my_max(5, 5)
my_max(5, 1)
my_max(1, 9)

같습니다
5
9

## 함수의 return

- 함수가 return을 만나면 해당값을 반환하고 함수를 종료
- 만약 return이 없는 경우 None을 자동으로 반환
- return은 오직 하나의 객체만 반환한다.

In [59]:
result = my_max(1, 2)
print(result)

2
None

In [61]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

In [64]:
result = my_max(1, 2)
print(result)

2
None

In [66]:
def my_for(x):
    for i in range(x):
        print(i)
        if i == 3:
            return i

my_for(5)

0
1
2
3

3

In [68]:
def my_list_max(list1, list2):
    list1 = [1, 2, 3]
    list2 = [2, 3, 4]

    sum_of_list1 = list1[0] + list1[1] + list1[2]
    sum_of_list2 = list2[0] + list2[1] + list2[2]

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [74]:
def my_list_max(list1, list2):
    sum_of_list1 = sum(list1)
    sum_of_list2 = sum(list2)

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [75]:
list1 = [55, 44, 22]
list2 = [2, 3, 4]

result = my_list_max(list1, list2)
print(result)

[55, 44, 22]

In [76]:
# my_list_max([55, 44, 22], [2, 3, 4])
# # => [2, 3, 4]

### 기본값
```python
def func_name(p1=v1):
    code1
    return value
```

In [82]:
def greeting(name='무언가'):
    return f'{name}님 방가방가.'

In [84]:
greeting('임서영')

'임서영님 방가방가.'

In [88]:
print('안녕하세요.', '방가와요.', sep='~~~~', end='!!!!!!')
print('저는 임서영이에요.')

안녕하세요.~~~~방가와요.!!!!!!저는 임서영이에요.

# 정의되지 않은 키워드 인자 처리하기

In [11]:
# 딕셔너리 형태로 여러개의 키워드 인자를 받을 수 있음
def func_name(**kwargs):
    return value

In [12]:
info = dict(name='kim', age=20)
print(info)

{'name': 'kim', 'age': 20}

In [13]:
def my_dict(**kwargs):
    print(kwargs)

my_dict(asdf= '가나다', age=123, test= 'asdf')

{'asdf': '가나다', 'age': 123, 'test': 'asdf'}

In [14]:
def my_func(perams1, params2='temp', *numbers, **kwargs):
    return 0

In [15]:
# my func() => params1 부족으로 에러
my_func(123)
# => params1 = 123, params2 = 'temp' 
my_func(123, 234)
my_func(123, 234, 345, 567, 789, 890)

0

# lambda 표현식
- 임시함수, 일회용 함수
'''python

In [16]:
def my_sum(num1, num2):
    return num1 + num2

In [17]:
my_sum(100, 2)

102

In [19]:
(lambda num1, num2: num1 + num2) (1, 2)

3

In [20]:
lambda num1, num2: num1 + num2()

In [23]:
(lambda num1, num2: num1 + num2)(1, 2)

3

### 타입힌트

In [21]:
def something(a: int, b: int) -> int:
    return a + b

    something(1, 2)

In [22]:
something('asdf', 'qwer')

'asdfqwer'

### 이름공간(namespace), 스코프(scope)
python에서 사용하는 이름들은 이름공간에 저장되어있습니다. LEGB룰에 따라 접근


1. Local : 정의된 함수 내부
2. Enclosed : 상위 함수
3. Global : 함수 밖
4. Built-in : python이 기본적으로 가지고 있는 함수

In [23]:
result = str(123)
print(result)

123

In [27]:
str = 'hello'

In [29]:
result = str(123)
print(result)

TypeError: 'str' object is not callable

In [30]:
del str

In [32]:
a = 1

def local_scope(a):
    return a

a = '가나다라'

local_scope('asdf')

'asdf'

In [34]:
my_list = [1, 2, 3, 4, 5]
for i in my_list: 
    print(i)
print(i)

1
2
3
4
5
5

In [36]:
a = 0

def global_scope():
    global a
    a = a + 1
    return a

global_scope()

1

In [37]:
a = 0

def global_scope():
    global a
    a = a + 1
    return a

global_scope()

1

### 재귀
함수 내부에서 자기 자신을 호출하는 함수

```
n! = 1 * 2 * 3 * ... * n

1! = 1,
2! = 1 * 2 = 1! * 2,
3! = 1 * 2 * 3 = 2! * 3,
n! = (n-1)! * n,
```

In [38]:
def fact(n):
    if n == 1: 
        return 1
    else:
        return fact(n-1) * n

In [39]:
fact(10)

3628800

In [40]:
fact(10)

3628800

In [41]:
# 피보나치 수열
def fib(n):
    if n == 0 or n ==1:
        return 1
    else:
        return fib(n-2) + fib(n-1)

In [42]:
fib(20)

10946