# Error

### syntex error

In [1]:
print('hello)

SyntaxError: unterminated string literal (detected at line 1) (3574047905.py, line 1)

In [2]:
if True:
    pass

else

SyntaxError: expected ':' (2202177880.py, line 4)

In [4]:
print('hello'

_IncompleteInputError: incomplete input (3871997710.py, line 1)

## exception

In [5]:
print(5/0)

ZeroDivisionError: division by zero

In [7]:
print(hello)
# 변수 타케팅을 하려고 시도, 변수 선언
# 문자를 출력하려 했다면 '' 사용

NameError: name 'hello' is not defined

In [10]:
1 + '1'
# 숫자 더하려 시도

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
'1' + 1
# 글자 뒤 글자 연결하려 시도

TypeError: can only concatenate str (not "int") to str

In [14]:
import random
random.sample([1, 2, 3, 4, 5],)

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [15]:
random.sample([1, 2, 3,], 1, 2, 3, 4, 5, 6, 7, 8, 9)

TypeError: Random.sample() takes 3 positional arguments but 11 were given

In [16]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [21]:
numbers = [1, 2, 3]
numbers.index(100)

ValueError: 100 is not in list

In [22]:
numbers[100]

IndexError: list index out of range

In [26]:
numbers[2]

3

In [27]:
my_dict = {
    'apple' : '사과',
    'banana' : '바나나'
}

In [31]:
my_dict['melon']

KeyError: 'melon'

In [33]:
import request

ModuleNotFoundError: No module named 'request'

### 예외처리

'''python
try:
    code
except exception:
    code
'''

In [37]:
number = int(input('숫자를 입력해주세요'))
print(f'입력하신 {number}의 세제곱은 {number**3}입니다.')

숫자를 입력해주세요 백릇당

ValueError: invalid literal for int() with base 10: '백릇당'

In [40]:
try:
number = int(input('숫자를 입력해주세요'))
    print(f'입력하신 {number}의 세제곱은 {number**3}입니다.')
except:
    print('숫자하라고!!!!')

IndentationError: expected an indented block after 'try' statement on line 1 (4283952282.py, line 2)

In [41]:
try:
    num = int(input('100을 무엇으로 나누겠습니까?'))
    print(f'100을 {num}으로 나눈 결과는

SyntaxError: unterminated f-string literal (detected at line 3) (835947583.py, line 3)

In [44]:
try:
    numbers = [1, 2, 3]
    numbers[1]
except:
    print('오류입니다')
else: 
    print('여기는 else 입니다')

여기는 else 입니다

In [45]:
def my_div(a, b):
    try:
        return a/b
    except (ValueError, TypeError):
        return '숫자를 넣어주세요'
    except
        
my_div('1', '2')